<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p1>
SILO is the application all NGO's, Social Activists and Emergency Response organizations should get their hands on.
With our comprehensive data collected from our users, SILO pushes to create awareness and solutions to problems
that riddle our society. Conflicts are erupting all over the globe and it is our duty as citizens of this planet to
work together and help one another.
SILO's Conflict Map provides an avenue for Emergency Response teams to be up-to-date with conflicts around the globe.
Our responsive map populates with locations where there is an ensuing conflict.
Children and adolescents living with domestic violence are at increased risk of experiencing emotional, physical and sexual abuse, of developing emotional and behavioral problems and of increased exposure to the presence of other adversities in their lives.
SILO's Child Abuse Database aims to provide organizations with data that will help in both creating awareness and also a solution
to the increasing number of child abuse cases in our communities.
    <p2>
</body>
</html>