<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-data">
    <div ng-show="person">
<table>
    <tr>
        <td>
           Type Of Report
        </td>
        <td>
            {{fullPReport.typeOfReport}}
        </td>
    </tr>
    <tr>
        <td>
            Last Place Seen
        </td>
        <td>
            {{fullPReport.lastplaceSeen}}
        </td>
    </tr>
    <tr>
        <td>
            Age Of Victim
        </td>
        <td>
            {{fullPReport.ageOfVictim}}
        </td>
    </tr>
    <tr>
        <td>
            Gender Of Victim
        </td>
        <td>
            {{fullPReport.genderOfVictim}}
        </td>
    </tr>
    <tr>
        <td>
            What Made The User Suspicious
        </td>
        <td>
            {{fullPReport.suspicionText}}
        </td>
    </tr>
    <tr>
        <td>
            Date Reported
        </td>
        <td>
            {{fullPReport.dateReported}}
        </td>
    </tr>
    </table>
        </div>

    <div ng-show="vehicle">
        <table>
            <tr>
                <td>
                    Type Of Report
                </td>
                <td>
                    {{fullVReport.typeOfReport}}
                </td>
            </tr>
            <tr>
                <td>
                    Last Place Seen
                </td>
                <td>
                    {{fullVReport.lastplaceSeen}}
                </td>
            </tr>
            <tr>
                <td>
                    Age Of Victim
                </td>
                <td>
                    {{fullVReport.ageOfVictim}}
                </td>
            </tr>
            <tr>
                <td>
                    Gender Of Victim
                </td>
                <td>
                    {{fullVReport.genderOfVictim}}
                </td>
            </tr>
            <tr>
                <td>
                    What Made The User Suspicious
                </td>
                <td>
                    {{fullVReport.suspicionText}}
                </td>
            </tr>
            <tr>
                <td>
                    Date Reported
                </td>
                <td>
                    {{fullVReport.dateReported}}
                </td>
            </tr>
        </table>
        </div>

    <div ng-show="incident">
        <table>
            <tr>
                <td>
                    Type Of Report
                </td>
                <td>
                    {{fullIReport.typeOfReport}}
                </td>
            </tr>
            <tr>
                <td>
                    Last Place Seen
                </td>
                <td>
                    {{fullIReport.lastplaceSeen}}
                </td>
            </tr>
            <tr>
                <td>
                    Age Of Victim
                </td>
                <td>
                    {{fullIReport.ageOfVictim}}
                </td>
            </tr>
            <tr>
                <td>
                    Gender Of Victim
                </td>
                <td>
                    {{fullIReport.genderOfVictim}}
                </td>
            </tr>
            <tr>
                <td>
                    What Made The User Suspicious
                </td>
                <td>
                    {{fullIReport.suspicionText}}
                </td>
            </tr>
            <tr>
                <td>
                    Date Reported
                </td>
                <td>
                    {{fullIReport.dateReported}}
                </td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>